#bg-image
{
  background-image: url(../../../../../assets/images/cool-background.png);
  background-size: cover;
  height: 89%;
}
.example-card {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    background: transparent;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }
  
  .example-header-image {
    background-image: url('../../../../../assets/images/WhatsApp\ Image\ 2022-05-27\ at\ 5.43.07\ PM.jpeg');
    background-size: cover;
  }
  label,h2,span{
    display: block;
    color: #000;
  }
  input, select
  {
    width: 100%;
    margin-top: 0.2rem;
    caret-color: rgb(251, 34, 6);
    background: transparent;
    border-style:ridge;
  }
  .error-text
  {
    color:#ff0000
  }
  .signIn
  {
    width: 100%;
  }
 
