<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <h2><b><strong>Login Form</strong></b></h2>
    </mat-card-header>
    <mat-card-content>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent"><strong>Sign in</strong></button>
    </mat-card-actions>
    <span>didn't had a account?
        <button mat-button color="primary" (click)="register()">Create One</button>
    </span>
  </mat-card>
